body{
    background-color: black;
    color: orangered;
}

.header{
    color: white;
    margin: 25px auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}



.calculator{
    border: 2px solid gray; 
    border-radius: 5px;
    height: 500px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    margin: 0 auto;
    background-color: gray;
    
}

.display{
    height: 175px;
    font-size: 50px;
    color: azure;
    background-color: grey;
    font-size: 40px;
    padding: 10px;
}

.input{
    border-radius: 5px;
    height: 100px;
    background-color: white;
    font-size: 20px;
    padding: 10px;
}

.buttons{
    
    height: 250px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: aliceblue;
}

.buttons div{
    border: 1px dotted black;
    background-color: aliceblue;
    border-radius: 5px;
    font-size: 18px;
}

#eq{
    background-color: orangered;
    grid-column-start: 3;
    grid-column-end: 5;
    color: white;
}

.bottom-button{
    height: 62.5px;
    display: flex;
}